{% extends 'base.html' %}

{% block title %}My Favourite Feeds{% endblock %}

{% block content %}
    <div class="post mb-3">
        <h2>Update RSS Feed</h2>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post" action="{% url 'update_feed' pk=feed.id %}">
            {% csrf_token %}
            <div class="form-group row">
                <label for="formTitle" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                           name="title" id="formTitle" value="{{ form.title.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="formUrl" class="col-sm-2 col-form-label">Feed URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                           name="url" id="formUrl" value="{{ form.url.value|default_if_none:'' }}">
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update Feed</button>
        </form>
    </div>
{% endblock %}