{% extends 'base.html' %}

{% block title %}My Feeds{% endblock %}

{% block content %}
    <div class="post border-bottom mb-3">
        <h2>My RSS Feeds</h2>

        <div class="accordion" id="accordionExample">
            {% for feed in feeds %}
                <div class="card">
                    <div class="card-header" id="{{ feed.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapse{{ feed.id }}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                {{ feed }}
                                <span class="float-right">
                                    {% if feed.unread == 0 %}
                                        No unread items
                                    {% else %}
                                        Unread items:
                                        <mark>{{ feed.unread }}</mark>
                                    {% endif %}
                                </span>
                            </button>
                        </h2>
                        <div>
                            {% if feed.fail_count >= 10 %}
                                <a class="btn btn-danger float-right"
                                   href="{% url 'reset_fail_count' pk=feed.id %}">
                                    Restart Feed</a>
                                <span class="float-right pr-2 mt-2">
                                    Sorry, this feed has failed many times
                                </span>
                            {% endif %}
                        </div>
                    </div>

                    <div id="collapse{{ feed.id }}" class="collapse" aria-labelledby="{{ feed }}"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% for feed_item in feed_items %}
                                {% if feed_item.feed.id == feed.id %}
                                    {% if feed_item.is_read %}
                                        <p>
                                            <a href="{{ feed_item.get_absolute_url }}">{{ feed_item.title }}</a></p>
                                    {% else %}
                                        <p>
                                            <mark><a href="{{ feed_item.get_absolute_url }}">
                                                {{ feed_item.title }}</a></mark>
                                        </p>
                                    {% endif %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
